/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .cm_b {
        padding-bottom: 50px;
    }
    .cm_title {
        margin-bottom: 10px;
        font-size: 26px;
    }
    .cm_btn {
        padding: 10px 20px;
    }
    /* header start */
    header{
        padding: 0;
    }
    .logo{
        font-size: 20px;
    }
    .menu ul li a{
        padding: 10px 0 0 !important;
        text-align: end;
    }
    .dropdown{
        text-align: end;
    }
    .navbar-nav .dropdown-menu {
        position: inherit;
        top: 0px;
        left: 20px;
    }
    .btn_dd{
        width: 250px;
    }
    /* banner */
     .slider {
        text-align: center;
        margin: 30px 0;
    }
    .slider h1 {
        margin-bottom: 15px;
        font-size: 30px;
    }
    .slider p {
        margin-bottom: 30px;
        word-spacing: 2px;
        line-height: 20px;
    }
    .li-btn{
        padding: 5px 8px;
        font-weight: 400;
    }
    .li-btn i{
        margin-left: 5px;
    }
    .sl_btn{
        margin-top: 20px;
        margin-bottom: 5px;
        text-align: center;
    }
    /* welcome */
    .w_sp{
        height: 40px;
    }
    .welcome h1{
        margin: 10px 0 15px;
        font-size: 28px;
    }
    /* service start */
   .item {
    margin-top: 50px;
    padding: 20px 25px;
    }
    /* about */
    .about{
        text-align: center;
    }
    .about h1{
        margin-top: 30px;
    }
    .about p{
        margin: 5px 0 0;
        padding: 0;
    }
    .c_p{
        margin-bottom: 50px !important;
    }
    /* portfolio */
    .portfolio{
        padding-bottom: 50px;
    }
    .portfolio ul li{
        margin-top: 10px;
        margin-right: 0 !important;
    }
    .portfolio ul li a {
        padding: 5px;
    }
    /* why */
    .w_item {
        padding: 35px 0 20px;
    }
    .w_header {
        display: grid;
        text-align: center;
        margin-bottom: 15px;
    }
    .w_header i {
        margin-bottom: 10px;
        margin-right: 0;
        font-size: 40px;
    }
    .w_header h2 {
        font-size: 20px;
    }
    .why p {
        font-size: 15px;
        text-align: center;
    }
    /* price */
    .p_p{
        padding: 0 30px;
    }
    .pr_item {
        padding: 25px 30px 30px;
    }
    .pr_btn{
        display: flex;
        justify-content: center;
    }
    /* call to action */
    .hire p{
        font-size: 18px;
        text-align: center;
    }
    .h_btn{
        margin-top: 20px;
        text-align: center;
    }
    .hr_btn{
        padding: 10px 40px;
    }
    .call_action {
        padding: 20px 0;
    }
    /* slider_2 */
    .slider_two{
        padding-bottom: 90px;
    }
    .s_2 {
        padding: 15px;
    }
    .name{
        margin-top: 10px;
    }
    .title {
        margin: 5px 0;
    }
    .position {
        margin-bottom: 5px;
    }
    .s_2_text{
        text-align: center;
    }
    .s_2_text p {
        font-size: 14px;
        margin-bottom: 10px;
        padding-top: 0px;
    }
    .s_2_img i {
        font-size: 50px;
    }
    .s_2_btn{
        background-color: #f8f8f8;
        padding: 10px 20px;
        position: relative;
        top: 10px;
        right: 0;
        height: 100%;
        display: flex;
        justify-content: space-between;
        border: 1px solid var(--ash);
        align-items: center;
        flex-direction: row;
    }
    .s_2_btn button{
        transform: rotate(0deg);
    }
    .b_span{
        align-self: center;
        transform: rotate(0deg);
    }
    /* contact */
    .contact {
        padding: 30px 20px;
    }
    .contact_title {
        width: 180px;
    }
    .contact_form textarea {
        padding: 20px 12px 0;
    }
    /* footer */
    .footer_top{
        padding-bottom: 30px;
    }
    .footer_top p {
        margin-bottom: 30px;
    }
    .s-links ul li a i {
        padding: 10px;
        font-size: 16px;
    }
    .footer_bottom {
        padding: 10px 0;
    }
    .ftb_text{
        margin-bottom: 15px;
        text-align: center;
    }
    .ftb_text p{
        font-size: 14px;
    }
    .ftb_link{
        font-size: 14px;
        margin-bottom: 0;
        text-align: center;
    }
    .ftb_link ul li {
        margin-right: 10px !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .cm_b {
        padding-bottom: 50px;
    }
    .cm_btn {
        padding: 10px 18px;
    }
    .cm_title {
        margin-bottom: 20px;
    }
    /* header start */
    header{
        padding: 0;
    }
    header h1 a{
        font-size: 22px;
    }
    .menu ul li a{
        padding: 10px 0 0 !important;
        text-align: end;
    }
    .dropdown{
        text-align: end;
    }
    .navbar-nav .dropdown-menu {
        position: inherit;
        top: -37px;
        left: 130px;
    }
    /* banner */
     .slider {
        margin: 150px 0 145px;
    }
    .slider h1 {
        margin-bottom: 30px;
        font-size: 45px;
    }
    .slider p {
        margin-bottom: 30px;
        word-spacing: 2px;
        line-height: 25px;
    }
    .slider a{
        padding: 10px 15px;
        font-weight: 400;
    }
    .slider a i {
        margin-left: 10px;
    }
    /* welcome */
    .welcome h1{
        margin: 10px 0 30px;
    }
    /* service start */
    .item {
        margin-top: 50px;
    }
    /* about */
    .about{
        text-align: center;
    }
    .about h1{
        margin-top: 30px;
    }
    .about p{
        margin: 35px 0 0;
    }
    .c_p{
        margin: 0 !important;
        padding: 25px 0 50px;
    }
    /* portfolio */
    .portfolio{
        padding-bottom: 50px;
    }
    .portfolio ul li a {
        padding: 5px;
    }
    /* why */
    .w_item {
        padding: 35px 0 20px;
    }
    .w_header {
        margin-bottom: 20px;
    }
    .w_header i {
        margin-right: 15px;
        font-size: 40px;
    }
    .w_header h2 {
        font-size: 20px;
    }
    .why p {
        font-size: 15px;
    }
    /* price */
    .pr_item {
        padding: 25px 20px 30px;
    }
    /* call to action */  
    .call_action {
        margin-bottom: 50px;
        padding: 30px 0;
    }
    /* slider_2 */
    .slider_two{
        padding-bottom: 90px;
    }
    .s_2 {
        padding: 20px 20px;
    }
    .name{
        margin-top: 10px;
    }
    .title {
        margin: 10px 0;
    }
    .position {
        margin-bottom: 10px;
    }
    .s_2_text{
        text-align: center;
    }
    .s_2_text p {
        font-size: 14px;
        margin-bottom: 10px;
        padding-top: 0px;
    }
    .s_2_img i {
        font-size: 70px;
    }
    .s_2_btn{
        background-color: #f8f8f8;
        padding: 10px 20px;
        position: relative;
        top: 10px;
        right: 0;
        height: 100%;
        display: flex;
        justify-content: space-between;
        border: 1px solid var(--ash);
        align-items: center;
        flex-direction: row;
    }
    .s_2_btn button{
        transform: rotate(0deg);
    }
    .b_span{
        align-self: center;
        transform: rotate(0deg);
    }
    /* contact */
    .contact {
        padding: 60px 40px 30px;
    }
    .contact_form textarea {
        padding: 20px 12px;
    }
    /* footer */
    .footer_bottom {
        padding: 10px 0;
    }
    .ftb_text{
        margin-bottom: 15px;
        text-align: center;
    }
    .ftb_link{
        margin-bottom: 0;
        text-align: center;
    }
    .ftb_link ul li {
        margin-right: 20px !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .cm_b {
        padding-bottom: 80px;
    }
    .cm_title{
        font-size: 26px;
    }
    /* header start */
    header{
        padding: 10px 0;
    }
    .menu ul li a{
        padding: 10px 0 0 !important;
        text-align: end;
    }
    .dropdown{
        text-align: end;
    }
    .navbar-nav .dropdown-menu {
        position: inherit;
        top: -37px;
        left: 310px;
    }
    /* banner */
    .slider {
        margin: 170px 0 150px;
    }
    .slider h1 {
        font-size: 50px;
    }
    .slider a{
        padding: 10px 20px;
        font-weight: 400;
    }
    /* service */
   .item {
        margin-top: 50px;
        padding: 20px 25px;
    }
    /* about */
    .about{
        text-align: center;
    }
    .about h1{
        margin-top: 50px;
    }
    .about p{
        margin: 35px 0 0;
    }
    .c_p{
        margin-bottom: 50px !important;
    }
    /* portfolio */
    .portfolio{
        padding-bottom: 80px;
    }
    .h-icon{
        top: 30%;
    }
    .text{
        padding: 5px 10px;
    }
    /* why */
    .w_item {
        padding: 35px 0 20px;
    }
    .w_header {
        margin-bottom: 20px;
    }
    .w_header i {
        margin-right: 10px;
        font-size: 36px;
    }
    .w_header h2 {
        font-size: 16px;
    }
    .why p {
        font-size: 15px;
    }
    /* call to action */  
    .call_action {
        padding: 30px 0;
    }
    /* slider_2 */
    .s_2 {
        padding: 10px 10px 0;
    }
    .title {
        margin: 5px 0;
    }
    .position {
        margin-bottom: 0;
    }
    .s_2_text p {
        font-size: 14px;
        margin-bottom: 10px;
        padding-top: 0px;
    }
    .s_2_btn{
        background-color: #f8f8f8;
        padding: 10px 20px;
        position: relative;
        top: 10px;
        right: 0;
        height: 100%;
        display: flex;
        justify-content: space-between;
        border: 1px solid var(--ash);
        align-items: center;
        flex-direction: row;
    }
    .s_2_btn button{
        transform: rotate(0deg);
    }
    .b_span{
        align-self: center;
        transform: rotate(0deg);
    }
    /* contact */
    .contact {
        padding: 80px 70px 40px 70px;
    }
    /* footer */
    .ftb_text p{
        font-size: 14px;
    }
    .ftb_link ul li {
        margin-right: 5px !important;
    }
    .footer_bottom {
        padding: 10px 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* common */
    header{
        padding: 0;
    }
    .cm_btn {
        padding: 10px 18px;
    }
    /* about */
    .about_title{
        margin-bottom: 10px;
    }
    .c_p {
        padding: 0 0 12px;
    }
    /* team */
    .m_text {
        padding: 15px 0 5px 10px;
    }
    .m_text h2{
        font-size: 16px;
    }
    /* price */
    .pr_item {
        padding: 25px 8px 30px;
    }
    /* slider_2 */
    .title {
        margin: 10px 0;
    }
    .s_2_text p {
        margin-bottom: 10px;
        padding-top: 0px;
    }
    /* contact */
    .contact {
        padding: 80px 100px 40px 100px;
    }
}
/* Extra extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    /* common */
        .cm_btn {
            padding: 10px 18px;
        }
        /* about */
        .c_p {
            padding: 25px 0 40px;
        }
        /* price */
        .pr_item {
            padding: 25px 30px 30px;
        }
        /* slider_2 */
        .s_2_text p {
            padding-top: 20px;
        }
        /* contact */
        .contact {
            padding: 80px 100px 40px 100px;
        }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
    
}
